

		<%= form_for @order, html: { class: "custom" } do |f| %>
          <% if @order.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@order.errors.count, "error") %> prohibited this book from being saved:</h2>

              <ul>
              <% @order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

		  <fieldset>
		    <legend>Escolha a operação desejada</legend>
			<div class="row">
				<div class="large-6 columns">
			      <label for="type">Eu sou...</label>
			      <%= f.select :tipo, [[ "DeMolay", "demolay" ],[ "Capítulo / Convento", "capitulo_convento" ]] %>
			    </div>
				<div class="large-4 columns demolay hidden">
			      <label for="operation_demolay">Desejo pagar:</label>
			      <select id="operation_demolay" class="medium" name="operation_demolay">
			      	  <option value="elevacao">Elevação ao Grau DeMolay</option>
			          <option value="renovacao_cid">Renovação de CID</option>
			          <option value="renovacao_cid_senior">Renovação de CID Sênior</option>
			          <option value="renovacao_cid_vitalicio">Renovação de CID Vitalício</option>
			          <option value="formulario_conselho">Formulário de Conselho Consultivo</option>
			          <option value="grau_cavaleiro">Grau de Cavaleiro</option>
			          <option value="regularizacao_cadastral">Regularização Cadastral</option>
			          <option value="requisicao_carta">Requisição de Carta Constitutiva</option>
			          <option value="segunda_via">2ª Via de Documentos</option>
			      </select>
			    </div>
			    <div class="large-4 columns capitulo_convento hidden">
			      <label for="operation_capitulo_convento">Capítulo ou Convento desejo pagar:</label>
			      <select id="operation_capitulo_convento" class="medium" name="operation_capitulo_convento">
			      	  <option>Iniciação</option>
			      	  <option>Elevação ao Grau DeMolay</option>
			      	  <option>Renovação de CID</option>
			      	  <option>Renovação de CID Sênior</option>
			      	  <option>Renovação de CID Vitalício</option>
			      	  <option>Formulário de Conselho Consultivo</option>
			      	  <option>Grau de Cavaleiro</option>
			      	  <option>Regularização Cadastral</option>
			      	  <option>Requisição de Carta Constitutiva</option>
			      	  <option>2ª Via de Documentos</option>
			      </select>
			    </div>
			    <div class="large-2 columns price">
			    	<label for="price">Valor da taxa:</label>
			    	<h4></h4>
			    </div>
			    <%= f.hidden_field :operation, required: true %>
			    <%= f.hidden_field :status, value: 1 %>
			    <%= f.hidden_field :price, value: 1 %>
			</div>
		    <div class="row">
		      <div class="large-4 columns">
		        <label>Nome</label>
		        <%= f.text_field :name, placeholder: "José Francisco", required: true, value: "Candido" %>
		      </div>
		      <div class="large-4 columns">
		        <label>CPF</label>
		        <%= f.text_field :cpf, placeholder: "008.998.998-34", required: true, value: "006.744.443-89" %>
		      </div>
		      <div class="large-4 columns">
		        <label>CID</label>
		        <%= f.text_field :cid, placeholder: "54545", required: true, value: "67678" %>
		      </div>
		    </div>

		    <div class="row">
		      <div class="large-6 columns">
		        <label>Endereço</label>
		        <%= f.text_field :address, placeholder: "Avenida, Rua, Número, Bairro, Complemento e Cidade", required: true, value: "Okok" %>
		      </div>
		      <div class="large-6 columns">
		        <label>E-mail</label>
		        <%= f.email_field :email, placeholder: "voce@email.com", required: true, value:"candidosg@gmail.com" %>
		      </div>
		    </div>
		    <div class="row sub-attributes">
		     <div class="large-4 columns data_elevacao hidden">
		        <label>Data de elevação</label>
		        <input type="date" name="elevacao" id="elevacao" placeholder="19/08/1990">
		      </div>
		      <div class="large-4 columns capitulo hidden">
		        <label>Capítulo</label>
		        <input type="text" name="capitulo" id="capitulo" placeholder="Cap. Cavaleiros da Távula">
		      </div>
		      <div class="large-4 columns data_investidura hidden">
		        <label>Data de investidura</label>
		        <input type="date" name="investido" id="investido" placeholder="19/08/1990">
		      </div>
		      <div class="large-4 columns convento hidden">
		        <label>Convento</label>
		        <input type="text" name="convento" id="convento" placeholder="Conv. Cavaleiros da Távula">
		      </div>
		      <div class="large-4 columns data_nascimento hidden">
		        <label>Data de nascimento</label>
		        <input type="date" name="nascimento" id="nascimento" placeholder="19/08/1990">
		      </div>
		      <div class="large-4 columns data_regularizacao hidden">
		        <label>Data de regularização</label>
		        <input type="date" name="regularizacao" id="regularizacao" placeholder="19/08/1990">
		      </div>
		      <div class="large-4 columns nome_organizacao_filiada hidden">
		        <label>Nome da organização filiada</label>
		        <input type="text" name="organizacao-filiada" id="organizacao-filiada" placeholder="">
		      </div>
		      <div class="large-4 columns tipo_documento hidden">
		        <label>Tipo de documento</label>
		        <input type="text" name="documento" id="documento" placeholder="">
		      </div>
		    </div>
			<div class="row">
				<div class="large-12 columns">
					<button class="button" type="submit">Gerar Boleto</button>
				</div>
			</div>
		  </fieldset>
	<% end %>



