

		<%= form_for @order, html: { class: "custom", data: {abide: '' }} do |f| %>
          <% if @order.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@order.errors.count, "error") %> prohibited this book from being saved:</h2>

              <ul>
              <% @order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

		  <fieldset>
		    <legend>Escolha a taxa desejada</legend>
			<div class="row">
				<div class="large-6 columns">
			      <label for="type">Eu sou...</label>
			      <%= f.select :tipo, [[ "DeMolay", "demolay" ],[ "Capítulo / Convento", "capitulo_convento" ]] %>
			    </div>
				<div class="large-4 columns demolay hidden">
			      <label for="operation_demolay">Desejo pagar:</label>
			      <select id="operation_demolay" class="medium" name="operation_demolay">
			      	  <option value="iniciacao">Iniciação ao Grau DeMolay</option>
			      	  <option value="elevacao">Elevação ao Grau DeMolay</option>
			          <option value="renovacao_cid">Renovação de CID</option>
			          <option value="renovacao_cid_senior">Renovação de CID Sênior</option>
			          <option value="renovacao_cid_vitalicio">Renovação de CID Vitalício</option>
			          <option value="formulario_conselho">Formulário de Conselho Consultivo</option>
			          <option value="grau_cavaleiro">Grau de Cavaleiro</option>
			          <option value="regularizacao_cadastral">Regularização Cadastral</option>
			          <option value="requisicao_carta">Requisição de Carta Constitutiva</option>
			          <option value="segunda_via">2ª Via de Documentos</option>
			      </select>
			    </div>
			    <div class="large-4 columns capitulo_convento hidden">
			      <label for="operation_capitulo_convento">Desejo pagar:</label>
			      <select id="operation_capitulo_convento" class="medium" name="operation_capitulo_convento">
			      	  <option value="iniciacao_lote">Iniciação em lote</option>
			      	  <option value="elevacao_lote">Elevação ao Grau DeMolay em lote</option>
			      	  <option value="grau_cavaleiro_lote">Grau de Cavaleiro em lote</option>
			      </select>
			    </div>
			    <div class="large-2 columns price">
			    	<label for="price">Valor da taxa:</label>
			    	<h4></h4>
			    </div>
			    <%= f.hidden_field :operation, required: true %>
			    <%= f.hidden_field :status, value: 1 %>
			    <%= f.hidden_field :price, value: 1 %>
			</div>
			</fieldset>
			<fieldset class="demolay">
				<legend>Informações de pagamento</legend>
				<div class="row">
			      <div class="large-4 columns">
			        <label>Nome </label>
			        <%= f.text_field :name, placeholder: "Seu nome", required: true, value: "", pattern: "[a-zA-Z]+" %>
			        <small class="error">O seu nome é obrigatório.</small>
			      </div>
			      <div class="large-4 columns">
			        <label>CPF</label>
			        <%= f.text_field :cpf, placeholder: "008.998.998-34", required: true, value: "" %>
			        <small class="error">O seu CPF é obrigatório.</small>
			      </div>
			      <div class="large-4 columns">
			        <label>CID</label>
			        <%= f.text_field :cid, placeholder: "54545", required: true, value: "",pattern: "integer" %>
			        <small class="error">A sua CID é obrigatória e são apenas números.</small>
			      </div>
			    </div>

			    <div class="row">
			      <div class="large-6 columns">
			        <label>Endereço</label>
			        <%= f.text_field :address, placeholder: "Avenida, Rua, Número, Bairro, Complemento e Cidade", required: true, value: "", pattern: "alpha_numeric" %>
			        <small class="error">O seu endereço é obrigatório e deve conter o número do local.</small>
			      </div>
			      <div class="large-6 columns">
			        <label>E-mail</label>
			        <%= f.email_field :email, placeholder: "seu@email.com", required: true, value:"", pattern: "email" %>
			        <small class="error">O seu e-mail é obrigatório e deve ser válido.</small>
			      </div>
			    </div>
			    <div class="row sub-attributes">
			    <div class="large-4 columns data_iniciacao hidden">
			        <label>Data de iniciação</label>
			        <%= f.date_field :data_iniciacao, placeholder: "19/08/1990" %>
			    </div>
			     <div class="large-4 columns data_elevacao hidden">
			        <label>Data de elevação</label>
			        <%= f.date_field :data_elevacao, placeholder: "19/08/1990" %>
			      </div>
			      <div class="large-4 columns capitulo hidden">
			        <label>Capítulo</label>
			        <%= f.text_field :capitulo, placeholder: "Capitulo Cavaleiros da Távula, 56", pattern: "alpha_numeric" %>
			 		<small class="error">O nome do seu Capítulo deve conter o número respectivo.</small>
			      </div>
			      <div class="large-4 columns data_investidura hidden">
			        <label>Data de investidura</label>
			        <%= f.date_field :data_investidura, placeholder: "19/08/1990" %>
			      </div>
			      <div class="large-4 columns convento hidden">
			        <label>Convento</label>
			        <%= f.text_field :convento, placeholder: "Convento Cavaleiros da Távula, 50", pattern: "alpha_numeric" %>
			 		<small class="error">O nome do seu Convento deve conter o número respectivo.</small>
			      </div>
			      <div class="large-4 columns data_nascimento hidden">
			        <label>Data de nascimento</label>
			        <%= f.date_field :data_nascimento, placeholder: "19/08/1990" %>
			      </div>
			      <div class="large-4 columns data_regularizacao hidden">
			        <label>Data de regularização</label>
			        <%= f.date_field :data_regularizacao, placeholder: "19/08/1990" %>
			      </div>
			      <div class="large-4 columns nome_organizacao_filiada hidden">
			        <label>Nome da organização filiada</label>
			        <%= f.text_field :nome_organizacao, placeholder: "O nome da organização", value: "", pattern: "[a-zA-Z]+" %>
			      </div>
			      <div class="large-4 columns tipo_documento hidden">
			        <label>Tipo de documento</label>
			         <%= f.text_field :tipo_documento, placeholder: "O nome do documento", value: "", pattern: "[a-zA-Z]+" %>
			      </div>
			    </div>
			</fieldset>
		    
			<fieldset class="capitulo_convento hidden">
				<legend>Responsável pelo pagamento</legend>
				<div class="row">
			      <div class="large-4 columns">
			        <label>Nome</label>
			        <%= f.text_field :name, placeholder: "Seu nome", required: true, pattern: "[a-zA-Z]+" %>
			        <small class="error">O nome é obrigatório.</small>
			      </div>
			      <div class="large-4 columns">
			        <label>CPF</label>
			        <%= f.text_field :cpf, placeholder: "008.998.998-34", required: true, value: "" %>
			        <small class="error">O CPF é obrigatório.</small>
			      </div>
			      <div class="large-4 columns">
			        <label>CID</label>
			        <%= f.text_field :cid, placeholder: "54545", required: true, value: "",pattern: "[0-9]{1,10}" %>
			        <small class="error">A CID é obrigatória e apenas números.</small>
			      </div>
			    </div>
			    <div class="row">
			    	<div class="large-6 columns">
				        <label>Quantidade de membros no protocolo</label>
				        <%= f.number_field :qtd_membro, placeholder: "2", required: true, value:"1", min:"1" %>
				    </div>
			    	<div class="large-6 columns">
				        <label>N° do protocolo</label>
				        <%= f.text_field :protocolo, placeholder: "22222-22", required: true, value:"" %>
				        <small class="error">O número do protocolo é obrigatório.</small>
				    </div>
			    </div>
			</fieldset>
		  </fieldset>
		  	<div class="row">
				<div class="large-12 columns">
					<button class="button success large" type="submit"><span class="icon-barcode"></span>Gerar Boleto</button>
				</div>
			</div>
	<% end %>

<% content_for :title do %>Escolha sua taxa<% end %>
<% content_for :description do %>Gerenciador de Pagamentos - GCE-PI<% end %>

<div id="myModal" class="reveal-modal" data-reveal>
  <h2>Sobre</h2>
  <p>O sistema de pagamento on-line foi ideliazado pelo Ir. Marcelo Victor Leal com o objetivo de facilitar o cumprimento de taxas através de um sistema web, proporcionando maior controle da tesouraria do GCE e dos Capítulos de nosso estado.</p>
  <p>Atualmente o sistema é desenvolvido e mantido pelo Ir. Cândido Sales onde qualquer capítulo do Brasil pode usar, <strong>gratuitamente</strong>, este software.</p>
  <h3>Requisitos</h3>
  <p>O Capítulo/GCE necessita somente de uma conta no PagSeguro para poder receber os pagamentos das taxas e manter o controle.</p>
  <p>O sistema pode ser copiado por meio deste link:</p>
  <a class="close-reveal-modal">&#215;</a>
</div>



